*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    background: #091637;
    width: 100wh;
    height: 70px;
  }
  
  body {
    background: #050E25;
    overflow-y: scroll;
  }
  
  .logo {
    color: white;
    position: absolute;
    top: 21px;
    left: 5px;
    display: none;
  }
  
  .head {
    margin: 10px 20px;
  }
  
  .left-nav {
    display: inline;
    float: right;
  }
  
  .light {
    margin: 20px 4px;
    cursor: pointer;
    padding: 4px;
    background: #011B3A;
    border-radius: 100%;
    box-shadow: 0 0 9px 0px black;
  }
  
  .dark {
    margin: 23px 0px;
    cursor: pointer;
  }
  
  .notification {
    margin-block: 23px;
    margin-left: 9px;
    cursor: pointer;
  
  }
  
  .acc {
    padding: 5px;
    background: #257EE0;
    border-radius: 100%;
    margin: 15px 6px;
    margin-right: 100px;
    cursor: pointer;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 10px 10px;
    position: absolute;
    background: transparent;
    top: 15px;
    right: 57px;
    cursor: pointer;
  }
  
  .exit {
    margin: 22px;
    margin-right: 30px;
    cursor: pointer;
  }
  
  .left {
    background: #011B3A;
    width: 322px;
    height: 100vh;
    margin-top: -10px;
    display: inline-flex;
  }
  
  .left ul {
    padding: 1px;
  }
  
  .left ul li {
    list-style: none;
    margin-top: 30px;
  }
  
  .left ul li a {
    font-size: 1rem;
    padding-left: 45px;
    text-decoration: none;
    color: white;
    border-left: 5px solid transparent;
  }
  
  .left ul li img {
    margin-left: 24px;
  }
  
  .left ul li .active {
    border-left: 5px solid green;
    color: #4FC2D9;
  
  }
  
  .left ul li a:hover {
    border-left: 5px solid green;
    color: #4FC2D9;
  }
  
  .left ul li img {
    margin-right: 10px;
    margin-left: -30px;
    position: absolute;
  }
  
  .container {
    display: flex;
  }
  .right{
    padding: 20px;
  }
  .right h1 , h5{
    color: white;
    display: inline-block;
  }
  .right h5{
    margin-top: 20px;
  }
  .right .join{
    margin-left: 380px;
    width: 154px;
    height: 51px;
    background: #257EE0;
    color: white;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
  }
  .right .next{
    background: #011B3A;
    color: white;
    border: 1px solid #4FC2D9;
    border-radius: 5px;
    font-size: 18px;
    width: 264px;
    height: 51px;
  }
  .centerbar{
    width: 1152px;
    height: 51px;
    background: #091637;
    margin-top: 30px;
  }
  .centerbar ul{
    color: white;
    padding-left: 20px;
    display: flex;
  }
  .centerbar ul li{
    list-style: none;
    margin: 15px;
  }
  .centerbar ul li a{
    color: white;
    padding: 13px;
    text-decoration: none;
  }
  .centerbar ul li a.active,.centerbar ul li a:hover{
    border-bottom: 5px solid green;
    color: #4FC2D9;
  }
details{
    color: rgb(160, 143, 143);
    margin-block: 20px;
    font-size: 1rem;
}
summary{
    padding-left: 5px;
    color: white;
}
.detail-box{
    padding-inline: 10px;
    padding-top: 1px;
}
span{
    padding: 10px;
}
hr{
    width: 96%;
}
summary::marker{
    content: url(arrow.png);
    height: 18px;
    width: 18px;
}
details[open] summary::marker{
    content: url(arrow\ down.png);
}
@media(max-width:2230px) {
    .left{
        width: 800px;
    }
  }
@media(max-width:1555px){
    .right .join{
        margin-left: 155px;
    }
    .left{
        height: 112vh;
    }
}
@media(max-width:1393px){
    .right .join{
        margin-left: 10px;
    }
    .centerbar{
        width: 1000px;
    }
}
@media(max-width:1239px){
    .right .join{
        margin-left: 70px;
        width: 100px;
        font-size: 10px;
    }
    .right .next{

        width: 150px;
        font-size: 10px;
    }
    .centerbar{
        width: 900px;
    }
}
@media(max-width:1139px){
    
    .left{
        width: 665px;
    }
    .right .join{
        margin-left: 10px;
        width: 70px;
        font-size: 10px;
    }
    .right .next{

        width: 130px;
        font-size: 10px;
        margin-top: -10px;
    }
    .centerbar{
        width: 760px;
    }
}
@media(max-width:1024px) {

    .left {
        width: 800px;
    }
    .centerbar{
        width: 680px;
    }
    .right h1{
        font-size: 25px;
    }
  }
  @media(max-width:918px) {

    .left {
        width: 820px;
        height: 130vh;
    }
    .centerbar{
        width: 570px;
    }
    .right h1{
        font-size: 20px;
    }
    .right .join,.right .next{
        height: 41px;
        font-size: 8px;
    }
  }
  @media(max-width:820px) {
  
    .left {
        width: 820px;
        height: 140vh;
    }
    .centerbar{
        width: 500px;
    }
    .right h1{
        font-size: 20px;
        display: block;
    }
    .right .join,.right .next{
        height: 41px;
        font-size: 8px;
        margin-top: 20px;
    }
  }
  @media(max-width:733px) {
  
    .left {
        width: 230px;
        height: 97vh;
    }
  
    .left ul li img {
        position: relative;
        margin-left: 14px;
    }
  
    .left ul li a span{
        display: none;
    }
    .left ul li a{
     padding-left: 0px;
    }
    .left ul li .active{
        border-left: none;
        padding-left: 5px;
    }
    .left ul li a:hover{
        border: none;
    }
  
  }
  @media(max-width:603px) {
  
    nav a {
        display: none;
    }
  
    .acc {
        margin-right: -5px;
    }
    .centerbar{
        width: 355px;
    }
    .left{
        height: 97vh;
    }
  }
  @media(max-width:496px) {
  
  
    nav a {
        display: none;
    }
  
    .acc {
        margin-right: -5px;
    }
  
    .left ul li img {
        margin-left: 15px;
    }
    .left{
        height: 97vh;
    }
  }
  @media(max-width:494px) {
  
    nav a {
        display: none;
    }
    nav{
        height: 55px;
    }
  
    .acc {
        margin-right: -17px;
    }
    .notification{
        margin-left: 4px;
    }
    .exit{
        margin-right: 5px;
    }
  
    .light{
        margin: 23px 5px;
    }
  
    .left ul li img {
        margin-left: 15px;
    }
  
    .head {
        margin: 16px ;
        width: 105px;
    }
  
    .exit {
        margin-right: 10px;
    }
    .left-nav .dark,.light,.notification,.exit{
        width: 17px;
    }
    .left{
        height: 95vh;
    }

  }
  @media(max-width:448px){
    .exit{
        margin: 24px 3px;
        margin-right: 7px;
    }
    .acc{
        margin: 15px 1px;
    }
    .left-nav .dark,.light,.notification,.exit{
        margin: 24px 2px;
    } 
    .centerbar ul{
        padding-left: 0;
    }
    .centerbar ul li a {
        font-size: 10px;
    }
    .centerbar ul li{
        margin: 15px 0;
    }
    .centerbar{
        width: 230px;
    }
    .left{
        height: 125vh;
    }

  }
@media(max-width:325px){
    .left{
        height: 150vh;
    }
    .centerbar{
        width: 181px;
    }
    .right .next{
        width: 97px;
        font-size: 7px;
    }
}