nav{
    background: #011E40;
    width: 100%;
    text-align: center;
    height: 80px;
}
.heading{
    margin-top: 10px;
}
body{
    background: #050E25;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
.bottom img{
    margin-top: 15%;
}
.bottom p{
    color: rgb(168, 144, 144);
}
.ok{
    background: #257EE0;
    color: white;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    font-size: 0.8rem;
    width: 100px;
    padding: 5px;
    margin-top: 10px;
}